extends layout


block content
  .container
    h1 About Project A
    p Project A was born on a curiosity to learn more about data structures and algorithms. This project will cover the basics and my learnings including

    ul
      li Algorithms
        ul
          li Sorting: QuickSort, MergeSort, HeapSort, Counting Sort, Bucket Sort
          li Select: D Select, R Select, Select
          li Graphs: Dijkstra (shortest path), Topological Sort, Kosaraju's algorithm
          li Weighted Graphs, Network Flows and Sequences
      li Data Structures
        ul
          li Linked List, Double-Linked Lists, Union, Quick Unions
          li Object Oriented Programming
