extends layout

block content
  .jumbotron
    .container
      h1 Welcome to Project A
      p This project will grow overtime and will include algorithms and data structures
      a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
  .container
    .row
      .col-md-4
        h2 Data Structures
        p Definition and Properties
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Algorithms
        p Definition and Pseudo Code
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Examples
        p Visualize observe how the algorithms work
        a.btn.btn-default(href='#') View Details
