extends layout

block content
  .container
    h1 About Us
    p Argue for your limitations, and sure enough, they are yours. Don't Sweat the Small Stuff ...and it's All Small Stuff.
    You do not have to be a fantastic hero to do certain things, to compete. You can be just an ordinary chap, sufficiently motivated to reach challenging goals.
    Success or failure depends more upon attitude than upon capacity. Successful people act as though they have accomplished or are enjoying something.
    Soon it becomes a reality. Act, look, feel successful, conduct yourself accordingly, and you will be amazed at the positive results.
    All who seek the roots of life dig in solitude for them. To avoid criticism, do nothing, say nothing, be nothing.
    Everything comes to him who hustles while he waits.

    ul
      li Beware
      li All Who
      li Enter

    p This is me. 
