extends layout

block content
    .jumbotron
      .container
        h1 Welcome
        p This is node and express training website.
        a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    .container
      .row
        .col-md-4
          h2 About Me
          p Lorem ipsum about me
          a.btn.btn-default(href='#') View details
        .col-md-4
          h2 Skills
          p Lorem ipsum about me
          a.btn.btn-default(href='#') View details
        .col-md-4
          h2 Social Media
          p Lorem ipsum about me
          a.btn.btn-default(href='#') View details
