body {
  padding-top: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

.jumbotron{
  background: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron > *, footer{
  color:white;
}

footer{
  background-color: #3964C3;
  height: 150px;
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  overflow: auto;
}
